.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#header {
    background: peru;
    height: 100px;
    width: 100px;
    order: 1;
}
#main {
    background: green;
    height: 100px;
    width: 100px;
    order: 2;
}
#footer {
    background:blue;
    height: 100px;
    width: 100px;
    order: 3;
}
